@using System.Globalization;
@model IEnumerable<KFCApplication.Models.Cart>
@{
    List<UserVoucher> vouchers = ViewData["vouchers"] as List<UserVoucher>;
}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="">
    <title> Feane </title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <script src="/js/jquery-3.4.1.min.js"></script>
</head>
<div class='container checkout'>
    <div class='window'>
        <div class='order-info'>
            <div class='order-info-content' style='max-height: 550px;'>
                <h2>Order Summary</h2>
                <div class='order-info-content' style='max-height: 350px; overflow-y: auto;'>
                    @foreach (var item in Model)
                    {
                        var image = "/images/f1.png";
                        if (item.Dish.DishImage != null)
                        {
                            string img = item.Dish.DishImage.Replace("\\", "/");
                            image = "/" + img;
                        }
                        // Format the price to Vietnamese Dong
                        var price = string.Format(new CultureInfo("vi-VN"), "{0:C}", item.Price);

                        <div class='line'></div>
                        <table class='order-table'>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src='@image' class='full-width'></img>
                                    </td>
                                    <td>
                                        <span class='thin'>@item.Dish.Name</span>
                                        <br> <span class='thin small'>Size: @item.size<br></span>
                                        <span class='thin small'>Quantity:@item.Quantity<br></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class='price'>@price</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
                <div class='line' style="margin-top:5px">
                    @{
                        var subPrice = string.Format(new CultureInfo("vi-VN"), "{0:C}", @ViewBag.subTotal);
                        var discount = string.Format(new CultureInfo("vi-VN"), "{0:C}", @ViewBag.membership);
                        var sub = string.Format(new CultureInfo("vi-VN"), "{0:C}", @ViewBag.discount);
                    }
                </div>
                <div class='total' id="total">
                    <span style='float:left;'>
                        <div class='thin dense'>Sub total </div>
                        <div class='thin dense'>Membership</div>
                        <div class='thin dense'>Voucher </div>
                        <div class='thin dense'>Delivery fee</div>
                        <div class='thin dense'>TOTAL</div>
                    </span>
                    <span style='float:right; text-align:right;'>
                        <div class='thin dense'>@subPrice</div>
                        <div class='thin dense' id="membership">-@discount</div>
                        <div class='thin dense' id='selectedVoucher'>None</div>
                        <div class='thin dense'>0</div>
                        <div class='thin dense' id="subTotal">@subPrice</div>
                    </span>
                </div>
            </div>
        </div>
        <div class='credit-info'>
            <div class='credit-info-content'>
                <form method="post" asp-action="PlaceOrder" asp-controller="Orders">
                    <table class='half-input-table'>
                        <tr>
                            <td>Name</td>
                            <td><input class='input-field' name="name"></input></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td><input class='input-field' name="address"></input></td>
                        </tr>
                        <tr>
                            <td>Phone number</td>
                            <td>
                                <input maxlength="10" minLength="10" class='input-field' name="phone" type="number">
                               
                            </input>
                            </td>
                        </tr>
                        <tr>
                            <td>Vouchers</td>
                            <td>
                                <select class="input-field" name="voucherCode" id="voucherCode">
                                    <option value="0-0" class="font">None</option>
                                    @foreach (var i in vouchers)
                                    {
                                        <option class="font" value="@i.Voucher.Amount-@i.Voucher.ID">@i.Voucher.Code - @i.Voucher.Amount%</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="discountMember" value="@ViewBag.memberShip"></input>
                    <button class='pay-btn'>Checkout</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function changePrice() {
            var selectedVoucherCode = $("select[name='voucherCode']").val();
            console.log(selectedVoucherCode);
            var parts = selectedVoucherCode.split('-');
            var part1 = parts[0];
            console.log(part1);
            var voucherAmount = parseFloat(part1);
            var discount = parseFloat('@ViewBag.membership');
            console.log(discount);
            var initialTotalPrice = parseFloat('@ViewBag.subTotal');
            console.log(initialTotalPrice);
            var discountedPrice = initialTotalPrice - (initialTotalPrice * voucherAmount / 100);
            console.log(discountedPrice);
            var formatDiscountedPrice = discountedPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
            var totalVoucherDiscount = initialTotalPrice - discountedPrice;
            console.log(totalVoucherDiscount);
            $("#subTotal").html(formatDiscountedPrice);
            if (voucherAmount != 0) {
                var formattedTotalVoucherDiscount = totalVoucherDiscount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                $("#selectedVoucher").text("-" + formattedTotalVoucherDiscount);
            } else {
                $("#selectedVoucher").text("0");
            }
        }

        $(document).on('change', "select[name='voucherCode']", function () {
            // Call the changePrice function when the dropdown value changes
            changePrice();
        });

        // Call the changePrice function initially to set the initial total price
        $(document).ready(function () {
            changePrice();
        });
    </script>
}

<style>
    h2 {
        margin-bottom: 0px;
        margin-top: 25px;
        text-align: center;
        font-weight: 200;
        font-size: 19px;
        font-size: 1.2rem;
        color: red; /* KFC Theme */
    }

    .checkout {
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 10px;
    }

    .dropdown-select.visible {
        display: block;
    }

    .dropdown {
        position: relative;
    }

    ul {
        margin: 0;
        padding: 0;
    }

        ul li {
            list-style: none;
            padding-left: 10px;
            cursor: pointer;
        }

            ul li:hover {
                background: rgba(255,255,255,0.1);
            }

    .font {
        color: black;
        font-size: 12px;
    }

    .dropdown-select {
        position: absolute;
        background: #ffffff; /* KFC Theme */
        text-align: left;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 90%;
        left: 2px;
        line-height: 2em;
        margin-top: 2px;
        box-sizing: border-box;
    }

    .thin {
        font-weight: 400;
    }

    .small {
        font-size: 12px;
        font-size: .8rem;
    }

    .half-input-table {
        border-collapse: collapse;
        width: 100%;
    }

        .half-input-table td:first-of-type {
            border-right: 10px solid #ffffff; /* KFC Theme */
            width: 50%;
        }

    .window {
        height: 540px;
        width: 800px;
        background: #ffffff; /* KFC Theme */
        display: flex;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
        border-radius: 30px;
        z-index: 10;
    }

    .order-info {
        height: 100%;
        width: 50%;
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box;
    }

        .order-info-content {
            table-layout: fixed;
        }

    .credit-info {
        background: #e2e2e2; /* KFC Theme */
        height: 100%;
        width: 50%;
        color: #000000; /* KFC Theme */
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box;
    }

        .credit-info-content {
            padding-left: 25px;
            padding-right: 25px;
        }

    .input-field {
        background: rgba(255,255,255,0.1);
        border: none;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 16px;
        font-size: .95rem;
    }

    .pay-btn {
        border: none;
        background: red; /* KFC Theme */
        color: #ffffff; /* KFC Theme */
        font-weight: 700;
        width: 100%;
        cursor: pointer;
        transition: all .2s ease;
        font-size: 14px;
        font-size: .8rem;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    }

        .pay-btn:hover {
            opacity: .8;
        }

    .line {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 1px;
        width: 100%;
        background: rgba(255,255,255,0.1);
        background: #e2e2e2; /* KFC Theme */
    }

    .credit-card-image {
        display: block;
        max-height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .credit-info-content table {
        margin-top: 30px;
    }

    .full-width {
        width: 100%;
    }

    .total {
        padding-top: 25px;
        font-size: 20px;
        font-size: 1.3rem;
        padding-left: 35px;
        padding-right: 35px;
    }

    .dense {
        line-height: 1.2em;
        font-size: 16px;
        font-size: 1rem;
    }

    .input-field {
        background: rgba(255,255,255,0.1);
        border: none;
        padding: 10px;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 16px;
        font-size: .95rem;
    }

    .border-bottom {
        border-bottom: 1px solid rgba(255,255,255,0.1);
        padding-bottom: 5px;
    }

    .order-table td:first-of-type {
        width: 25%;
    }

    .order-table td:last-of-type {
        vertical-align: top;
        padding-left: 25px;
    }

    .order-table {
        position: relative;
    }

    .line {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 1px;
        width: 100%;
        background: rgba(255,255,255,0.1);
    }

    .order-table td:last-of-type * {
        vertical-align: top;
    }

    .price {
        text-align: right;
        width: 100%;
        display: block;
        color: red; /* KFC Theme */
        font-weight: 800;
    }

    .order-table img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    body {
        background: #f7f7f7;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        font-size: .95rem;
        color: #4c4c4c;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

  
</style>
