@using System.Globalization;

@{
    List<String> shippingStatus = new List<string>();
    shippingStatus.Add("Pending");
    shippingStatus.Add("Processing");
    shippingStatus.Add("Delivering");
    shippingStatus.Add("Completed");
    string act = ViewData["act"] as string;
    List<Order> orders = ViewData["order"] as List<Order>;
}

<div class="container eee">
    <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
            @{
                for(int i = 0; i < shippingStatus.Count; i++)
                {
                    <div class="col-2">
                        <a asp-action="Index" asp-controller="Orders" asp-route-OrderShippingStatus="@shippingStatus[i]"><p class="font-weight-bold @((shippingStatus[i].Equals(act)) ? "act" : "") ">@shippingStatus[i]</p></a>
                    </div>
                }
            }
               
               @*  <div class="col-2">
                <a asp-action="Index" asp-controller="Orders" asp-route-OrderShippingStatus="Processing"><p class="font-weight-bold ">Processing</p></a>
                </div>
                <div class="col-2">
                <a asp-action="Index" asp-controller="Orders" asp-route-OrderShippingStatus="Processing"><p class="font-weight-bold ">Delivering</p></a>
                </div>
                <div class="col-2">
                <a asp-action="Index" asp-controller="Orders" asp-route-OrderShippingStatus="Processing"><p class="font-weight-bold ">Completed</p></a>
                </div> *@
           
        </div>
    </div>
</div>
@foreach (var item in orders)
{
    <div class="container eee">
        <div class="card">
            <div class="row d-flex justify-content-between px-3 top">
                <div class="d-flex">
                    <h5>ORDER <span class="text-primary font-weight-bold">#@item.Id</span></h5>
                </div>
                <div class="d-flex flex-column text-sm-right" style="margin-top: -30px">
                    @{
                        var subPrice = string.Format(new CultureInfo("vi-VN"), "{0:C}", @item.TotalPrice);

                    }
                    <p class="mb-0"><span class="font-weight-bold">Total:  <span></span>@subPrice</p>
                    <p>Order Date <span class="font-weight-bold">@item.OderDate</span></p>
                </div>
            </div>
            <!-- Add class 'active' to progress -->
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <ul id="progressbar" class="text-center">
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                        <li class="active step0"></li>
                        <li class="step0"></li>
                    </ul>
                </div>
            </div>
            <div class="container" style="margin-left:60px">
                <div class="row d-flex justify-content-center">
                    <div class="col-3  d-flex icon-content ">
                        <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Order<br>Pending</p>
                        </div>
                    </div>
                    <div class="col-3  d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Order<br>Processing</p>
                        </div>
                    </div>
                    <div class="col-3  d-flex icon-content" style="margin-left:-10px">
                        <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Order<br>Delivering</p>
                        </div>
                    </div>
                    <div class="col-3  d-flex icon-content">
                        <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                        <div class="d-flex flex-column">
                            <p class="font-weight-bold">Order<br>Completed</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-9">
                    </div>
                    <div class="col-3">
                        <a asp-action="ViewOrderDeTail" asp-controller="Orders" asp-route-orderId="@item.Id"><h5 style="margin-left:50px"> <span class="text-primary font-weight-bold">View Detail</span></h5></a>

                    </div>

                </div>
            </div>

        </div>
    </div>
}


<style>
    /*  body {
                    color: #000;
                    overflow-x: hidden;
                    height: 100%;
                    background-color: #8C9EFF;
                    background-repeat: no-repeat;
                } */

    .card {
        z-index: 0;
        background-color: #ECEFF1;
        padding-bottom: 20px;
        margin-top: 90px;
        margin-bottom: 90px;
        border-radius: 10px;
    }

    .top {
        padding-top: 40px;
        padding-left: 13% !important;
        padding-right: 13% !important;
    }

    /*Icon progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: #455A64;
        padding-left: 0px;
        margin-top: 30px;
    }

        #progressbar li {
            list-style-type: none;
            font-size: 13px;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400;
        }

        #progressbar .step0:before {
            font-family: FontAwesome;
            content: "\f10c";
            color: #fff;
        }

        #progressbar li:before {
            width: 40px;
            height: 40px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            background: #C5CAE9;
            border-radius: 50%;
            margin: auto;
            padding: 0px;
        }

        /*ProgressBar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 12px;
            background: #C5CAE9;
            position: absolute;
            left: 0;
            top: 16px;
            z-index: -1;
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: absolute;
            left: -50%;
        }

        #progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after {
            left: -50%;
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            position: absolute;
            left: 50%;
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        /*Color number of the step and the connector before it*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #000000;
        }

        #progressbar li.active:before {
            font-family: FontAwesome;
            content: "\f00c";
        }

    a {
        text-decoration: none;
    }

    .icon {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }

    .icon-content {
        padding-bottom: 20px;
    }

    .eee {
        margin-top: -40px;
    }
    a{
        color:black;
    }   
    a .act {
        color: red;
    }

</style>
